/***** 
TABLE OF CONTENTS 

    Structure of CSS
    Global styles and theme colors
    Header and Nav
    Burger Menu and Dropdown Modals
    Image Banner Carousel
    Image Gallery
    Vehicle Listings
    Trade in and site map links
    Social Media Links
    Footer
    Media Queries

*****/

/*****
STRUCTUTRE OF CSS

Rule listing order within an individual rule set is in alphabetical order.
Rule sets within a section are ordered by specificity. Global > Element > Classes > ID. Classes within a section will also be in alphabetical order.

This web app is designed with a mobile-first approach. All media queries are ordered from smallest screen size first to largest screen size last. 

*****/

/*****
GLOBAL STYLES / THEME COLORS
*****/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #000;
    max-width: 100vw;
    overflow-x: hidden;
}

.theme-primary {
    background-color: #000;
    color: #000;
}

.theme-primary-accent {
    color: #FFF;
}

.theme-secondary {
    color: #2F2F2F;
}

.theme-secondary-bg {
    background-color: #2F2F2F;
}

.theme-secondary-accent {
    color: #7C7C7C;
}

.theme-contrast-color {
    color: #FDAD0A;
}

/* Here the utility classes are out of order. This is intentional, as we want any maximum screen size rules to superceed these minimum size rules. Maintaining the proper display:none attributes over display:inline-block.*/
.under480px ,
.under660px ,
.under800px ,
.under1000px {
    display: inline-block;
}

.over480px ,
.over660px ,
.over800px ,
.over1000px {
    display: none;
}

/*****
HEADER AND NAV
*****/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    min-height: 45px;
    position: relative;
    width: 100%;
}

.large-menu {
    margin-left: -10px;
}

.logo-img-wrapper {
    height: 25px;
    margin: 10px 15px;
    width: 65px;
}

.logo-img-wrapper img {
    height: 100%;
    width: 100%;
}

.menubar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.menubar span {
    padding-right: 15px;
}

.menubar:last-child {
    padding-right: 0px;
}

/*****
MENU/MODALS (mostly modals)
*****/

.menu-li {
    font-size: 12px;
    font-weight: 700;
}

.menu-li i {
    font-size: 14px;
    padding: 4px;
}

/*****
IMAGE BANNER CAROUSEL
*****/

.advertisement-block {
    padding: 15px;
}

.advertisement-block img {
    height: auto;
    width: 160px;
}

.advertisement-block span {
    font-size: .75em;
}

.button-row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 5%;
    width: 90%;
}

.button-row button {
    border: none;
    border-radius: 3px; 
    font-size: 15px;
    font-weight: 900;
    margin: 8px;
    max-width: 200px;
    min-width: 180px;
    padding: 10px 12px;
    width: 47%;
}

.button-row button:first-child {
    color: #000;
    background-color: #FDAD0A;
}

.button-row button:last-child {
    color: #FFF;
    background-color: #7C7C7C;
}

.carousel-inner aside {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    text-align: center;
}

.carousel-inner aside h2 {
    font-weight: 700;
    margin-bottom: 3px;
}

.carousel-main {
    
}

.carousel-top-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px;
    height: 0px;
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    position: relative;
    width: 100vw;
}

.carousel-top-bar li {
    background-color: #2F2F2F;
    border-right: 1px solid #FFF; 
    height: 10px;
    margin: 0px;
    width: 100%;
}

.carousel-top-bar li:last-child {
    border-right: none;
}

.carousel-top-bar li.active {
    background-color: #FDAD0A;
}

.carousel-vertical-button {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.carousel-vertical-button span:first-child {
    border: 5px solid #FFF;
    border-radius: 50%;
    padding: 20px;
}

.outsource-link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    padding: 30px 15px;
    text-align: center;
}

/*****
IMAGE GALLERY
*****/

.image-gallery-main {
    background-color: #C7C7C7;
    padding: 20px;
    max-width: 100vw;
    margin: 0;
}

.image-gallery-main figure {
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
}

.image-gallery-main figure:last-child {
    margin-bottom: 0px;
}

.image-gallery-main figure figcaption {
    background-color: #2F2F2F;
    color: #FFF;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    padding: 4px;
    text-align: right;
    width:100%;
}

.image-gallery-main figure figcaption span:first-child {
    padding-left: 20px;
}

.image-gallery-main figure img {
    width: 100%;
}

/*****
VEHICLE LISTINGS
*****/

.vehicle-listings-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    padding: 0px 10px;
    width: 100%;
}

.vehicle-listings-container figure {
    margin: 5% 10%;
    text-align: center;
    width: 80%;
}

.vehicle-listings-container figure img {
    width:100%;
}

.vehicle-listings-container figure h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin: -3px 0;
}

.vehicle-listings-container figure span {
    font-size: 8px;
}

.vehicle-listings-main {
    padding-bottom: 40px;
}

.vehicle-listings-main h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-top: 35px;
    text-align: center;
    width: 100%;
}

/*****
TRADE IN / SITE MAP
*****/

.kbb-trade-in {
    align-content: center;
    background-color: #d1d1d1;
    padding: 20px;
    width: 100%;
}

.kbb-trade-in aside {
    padding: 15px;
    text-align: center;
}

.kbb-trade-in aside h3{
    color: #333;
    font-size: 26px;
    font-weight: 700;
    padding: 0 10px;
}

.kbb-trade-in aside h5{
    display: inline;
    font-size: 13px;
    font-weight: 700;
}

.kbb-trade-in aside span {
    width: 100%;
}

.kbb-trade-in aside span i {
    margin-left: 35%;
    margin-right: -35%;
}

.kbb-trade-in aside p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 0 5%;
}

.kbb-trade-in div {
    margin: 0% auto;
    max-width: 150px;
    width: 42%;
}

.kbb-trade-in div > img {
    height: auto;
    width:100%
}

.search-bar-input {
    background-color: #FFF;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:35px;
    width: 100%;
}

.search-bar-input button {
    background-color: #FDAD0A;
    border: 1px solid #FDAD0A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: content-box;
    height: 100%;
    margin-top: -1px;
    margin-right: -1px;
    padding: 0;
    width: 100px;
}

.search-bar-input i {
    margin-left: 10px;
    margin-top: 6px;
}

.search-bar-input input {
    border: none;
    width: calc(100% - 115px)
}

.search-bar-main {
    background-color: #212121;
    padding: 20px;
    padding-bottom: 40px;
}

.search-links ul:first-child{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px, 1fr));
    grid-auto-rows: 1fr;
    margin-bottom: 25px;
    padding: 0;
}

.search-links ul:last-child{
    display: none;
}

.search-links ul > li {
    color: #bfbfbf;
    font-size: 14px;
    list-style: none;
    padding: 6px;
    width: 140px;
}

/*****
SOCIAL MEDIA
*****/

/*****
FOOTER
*****/

/*****
MEDIA QUERIES
*****/

@media screen and (min-width: 480px) {
    .button-row {
        flex-direction: row;
    }

    .kbb-trade-in {
        padding-top: 30px;
    }

    .kbb-trade-in aside h3 {
        padding: 0 1em;
    }

    .kbb-trade-in aside span i {
        margin-left: 8px;
        margin-right: -8px;
    }

    .search-bar-main {
        padding: 30px;
        padding-top: 20px;
    }

    .over480px {
        display: inline-block;
    }

    .under480px {
        display: none;
    }

    .vehicle-listings-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 660px) {
    header {
        height: 80px;
    }

    .kbb-trade-in {
        display: flex;
        padding: 30px 20px;
    }

    .kbb-trade-in div {
        margin: auto;
    }

    .kbb-trade-in aside {
        padding: 0 15px;
        text-align: left;
    }

    .kbb-trade-in aside h3 {
        font-size: 32px;
        padding: 0;
    }

    .kbb-trade-in aside p {
        padding: 0;
    }

    .image-gallery-main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px 0px 20px;
    }

    .image-gallery-main figure {
        padding-bottom: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .logo-img-wrapper {
        height: 40px;
        margin: 20px 10px;
        width: 100px;
    }

    .over660px {
        display: inline-block;
    }

    .search-bar-main {
        padding: 30px 10%;
    }

    .search-bar-input {
        width: 60%;
    }

    .search-links ul {
        padding: 0;
    }

    .search-links ul:first-child{
        display: none;
    }

    .search-links ul:last-child{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .under660px {
        display: none;
    }

    .vehicle-listings-container {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}

@media screen and (min-width: 800px) {
    .over800px {
        display: inline-block;
    }

    .under800px {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    aside.outsource-link {
        display: none;
    }

    .advertisement-block{
        align-items: flex-start;
        background: inherit;
        margin-left: 10%;
        max-width: 40%;
        position: absolute;
        text-align: left;
        top: 0;
    }

    .button-row {
        justify-content: flex-start;
        margin-left: 0;
    }

    .button-row button {
        margin-left: 0px;
        margin-right: 16px;
    }

    .carousel-top-bar {
        bottom: 30px;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .carousel-top-bar li {
        background: inherit;
        border: 2px solid #B0B0B0;
        border-radius: 50%;
        height: 16px;
        margin: 4px;
        width: 16px;
    }

    .carousel-top-bar li:last-child {
        border: 2px solid #B0B0B0;
    }

    .carousel-inner aside {
        align-items: left;
        text-align: left;
    }

    .carousel-inner aside h2 {
        font-size: 36px;
        line-height: 36px;
    }

    .carousel-vertical-button {
        display: flex;
    }

    .image-gallery-main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 0px 20px 20px; 
    }

    .image-gallery-main figure{
        padding-bottom: 0px;
        padding-right: 20px;
    }

    .kbb-trade-in {
        padding: 30px 15%;
    }

    .kbb-trade-in div {
        min-width: 150px;
    }

    .menubar {
        width: 39%;
        padding-left: 0px;
    }

    .menu-li {
        font-size: 10px;
        padding: 0px 10px;
    }

    .menubar span {
        padding-left: 15px;
        padding-right: 10px;
    }

    .menubar:last-child {
        padding-right: 15px;
    }

    .search-bar-input {
        flex: 1;
    }

    .search-links {
        flex: 2;
    }

    .search-links ul:last-child {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .search-links ul li {
        padding: 6px 15px;
        text-align: center;
        width: auto;
    }

    .search-links ul li img{
        margin-top: -6px;
    }

    .search-bar-main {
        display: flex;
        padding: 35px 8% 20px;
    }
    .over1000px {
        display: inline-block;
    }

    .under1000px {
        display: none;
    }

    #right-offset {
        right: 10%;
    }
}

@media screen and (min-width: 1280px) {
    .advertisement-block img {
        height: auto;
        width: 220px;
    }

    .carousel-inner aside h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .kbb-trade-in div {
        margin: auto 0px auto 60px;
    }

    .large-menu {
        margin-left: -100px;
    }

    .menu-li {
        font-size: 12px;
    }
}
