/***** 
TABLE OF CONTENTS 

    Structure of CSS
    Global styles and theme colors
    Header and Nav
    Burger Menu and Dropdown Modals
    Image Banner Carousel
    Image Gallery
    Vehicle Listings
    Trade in and site map links
    Social Media Links
    Footer
    Media Queries

*****/

/*****
STRUCTUTRE OF CSS

Rule listing order within an individual rule set is in alphabetical order.
Rule sets within a section are ordered by specificity. Global > Element > Classes > ID. Classes within a section will also be in alphabetical order.

This web app is designed with a mobile-first approach. All media queries are ordered from smallest screen size first to largest screen size last. 

*****/

/*****
GLOBAL STYLES / THEME COLORS
*****/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #000;
}

.theme-primary {
    background-color: #000;
    color: #000;
}

.theme-primary-accent {
    color: #FFF;
}

.theme-secondary {
    color: #2F2F2F;
}

.theme-secondary-accent {
    color: #7C7C7C;
}

.theme-contrast-color {
    color: #FDAD0A;
}

/* Here the utility classes are out of order. This is intentional, as we want any maximum screen size rules to superceed these minimum size rules. Maintaining the proper display:none attributes over display:inline-block.*/
.under480px ,
.under660px ,
.under800px ,
.under1000px {
    display: inline-block;
}

.over480px ,
.over660px ,
.over800px ,
.over1000px {
    display: none;
}

/*****
HEADER AND NAV
*****/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    min-height: 45px;
    position: relative;
    width: 100%;
}

.large-menu {
    margin-left: -10px;
}

.logo-img-wrapper {
    height: 25px;
    margin: 10px 15px;
    width: 65px;
}

.logo-img-wrapper img {
    height: 100%;
    width: 100%;
}

.menubar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.menubar span {
    padding-right: 15px;
}

.menubar:last-child {
    padding-right: 0px;
}

/*****
MENU/MODALS (mostly modals)
*****/

.menu-li {
    font-size: 12px;
    font-weight: 700;
}

.menu-li i {
    font-size: 14px;
    padding: 4px;
}

/*****
IMAGE BANNER CAROUSEL
*****/

.carousel-main {
    
}

.carousel-top-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px;
    height: 0px;
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    position: relative;
    width: 100vw;
}

.carousel-top-bar li {
    background-color: #2F2F2F;
    border-right: 1px solid #FFF; 
    height: 10px;
    margin: 0px;
    width: 100%;
}

.carousel-top-bar li:last-child {
    border-right: none;
}

.carousel-top-bar li.active {
    background-color: #FDAD0A;
}

.carousel-vertical-button {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.carousel-vertical-button span:first-child {
    border: 5px solid #FFF;
    border-radius: 50%;
    padding: 20px;
}

/*****
IMAGE GALLERY
*****/

/*****
VEHICLE LISTINGS
*****/

/*****
TRADE IN / SITE MAP
*****/

/*****
SOCIAL MEDIA
*****/

/*****
FOOTER
*****/

/*****
MEDIA QUERIES
*****/

@media screen and (min-width: 480px) {
    .over480px {
        display: inline-block;
    }

    .under480px {
        display: none;
    }
}

@media screen and (min-width: 660px) {
    header {
        height: 80px;
    }

    .logo-img-wrapper {
        height: 40px;
        margin: 20px 10px;
        width: 100px;
    }

    .over660px {
        display: inline-block;
    }

    .under660px {
        display: none;
    }

}

@media screen and (min-width: 800px) {
    .over800px {
        display: inline-block;
    }

    .under800px {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .carousel-vertical-button {
        display: flex;
    }

    .menubar {
        width: 39%;
        padding-left: 0px;
    }

    .menu-li {
        font-size: 10px;
        padding: 0px 10px;
    }

    .menubar span {
        padding-left: 15px;
        padding-right: 10px;
    }

    .menubar:last-child {
        padding-right: 15px;
    }

    .over1000px {
        display: inline-block;
    }

    .under1000px {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .large-menu {
        margin-left: -100px;
    }

    .menu-li {
        font-size: 12px;
    }
}
